.bg_color_sb{
    background-color: rgb(0, 0, 0);
}
.bg_color{
    background-color: rgb(0, 0, 0);
}
.card{
    padding: 1.5rem;
    background-color: rgb(0, 0, 0);
}
.row{
    margin: 1rem;
    margin-top: 2rem;
}
.card a{
    border-color: black;
}
.form-control{
    margin-bottom: 1rem;
}
.btn-outline-success{
    color: black;
    border-color: black;
    margin-left: 1300px;
}
.space{
    height: 20px;
    width: 100%;
}
p{
    color: white;
}
p1{
color: lightgreen;
}
.btn-outline-success{
    color: lightgreen;
    border-color: lightgreen;
    margin-left: 1300px;
}